{% extends "Rekomender/base.html" %}
{% load static %}
{% block title %}Results{% endblock %}

{% block main %}
<div class="row"></div>
    <div>
        <div>
            <div>
                <h3>Results</h3>
                 <label>Najlepszym zdaniem powinieneś skorzystać z usług: {{ winner }}</label><br>
                {% for obj in to_print %}
                    <label>Pytanie: {{ obj.0 }}</label><br>
                    <label>Twoja odpowiedź: {{ obj.1 }}</label><br>
                    <label>Uzasadnienie: {{ obj.2 }}</label><br>
                {% endfor %}
            </div>
            <p>Drogi Użytkowniku, dziękujemy Ci za udział w ankiecie. Zachęcamy do dokonania dotacji na dalszy rozwój projektu. 
                Wasz feedback pozwala nam dalej rozwijać aplikację </p>
               

                <p>Zachęcamy do stworzenia pytań, pozwalający nam ulepszyć algorytm rekomendacji</p>
                <button class="btn btn-primary btn-lg" onclick="location.href = '/user_questions/'">Utwórz pytanie</button>
        </div>
    </div>
</div>
{% endblock %}