{% extends "Rekomender/base.html" %}
{% block title %}Create Question{% endblock %}

{% block main %}
<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Create A New Poll</h3>
            </div>

            <form method="POST">
                {% csrf_token %}
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="question">Wpisz pytanie</label>
                                <textarea name="question" id="question" class="form-control" rows="3" ></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="option1">Odpowiedź 1</label>
                                <input name="option1" type="text" id="option1" class="form-control">

                                <label for="descriptiongoogle1">Uzasadnienie google</label>
                                <input name="descriptiongoogle1" type="text" id="descriptiongoogle1" class="form-control">
                                <label for="descriptionamazon1">Uzasadnienie amazon</label>
                                <input name="descriptionamazon1" type="text" id="descriptionamazon1" class="form-control">
                                <label for="descriptionkrajowa1">Uzasadnienie krajowa</label>
                                <input name="descriptionkrajowa1" type="text" id="descriptionkrajowa1" class="form-control">
                                <label for="descriptionibm1">Uzasadnienie ibm</label>
                                <input name="descriptionibm1" type="text" id="descriptionibm1" class="form-control">
                                <label for="descriptionmicrosoft1">Uzasadnienie microsoft</label>
                                <input name="descriptionmicrosoft1" type="text" id="descriptionmicrosoft1" class="form-control">
                                <label for="descriptiontask1">Uzasadnienie task</label>
                                <input name="descriptiontask1" type="text" id="descriptiontask1" class="form-control">
                                <label for="descriptioncity1">Uzasadnienie city</label>
                                <input name="descriptioncity1" type="text" id="descriptioncity1" class="form-control">

                                <label for="google1">Waga dla Google Cloud</label>
                                <input name="google1" type="number" max="5" min="0" id="google1" class="form-control">
                                <label for="amazon1">Waga dla Amazon AWS</label>
                                <input name="amazon1" type="number" max="5" min="0" id="amazon1" class="form-control">
                                <label for="microsoft1">Waga dla Microsoft Azure</label>
                                <input name="microsoft1" type="number" max="5" min="0" id="microsoft1" class="form-control">
                                <label for="krajowa1">Waga dla Chmury Krajowej</label>
                                <input name="krajowa1" type="number" max="5" min="0" id="krajowa1" class="form-control">
                                <label for="ibm1">Waga dla IBM Cloud</label>
                                <input name="ibm1" type="number" max="5" min="0" id="ibm1" class="form-control">
                                <label for="city1">Waga dla City Cloud</label>
                                <input name="city1" type="number" max="5" min="0" id="city1" class="form-control">
                                <label for="task1">Waga dla TaskCloud</label>
                                <input name="task1" type="number" max="5" min="0" id="task1" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="option2">Odpowiedź 2</label>
                                <input name="option2" type="text" id="option2" class="form-control">

                                <label for="descriptiongoogle2">Uzasadnienie google</label>
                                <input name="descriptiongoogle2" type="text" id="descriptiongoogle2" class="form-control">
                                <label for="descriptionamazon2">Uzasadnienie amazon</label>
                                <input name="descriptionamazon2" type="text" id="descriptionamazon2" class="form-control">
                                <label for="descriptionkrajowa2">Uzasadnienie krajowa</label>
                                <input name="descriptionkrajowa2" type="text" id="descriptionkrajowa2" class="form-control">
                                <label for="descriptionibm2">Uzasadnienie ibm</label>
                                <input name="descriptionibm2" type="text" id="descriptionibm2" class="form-control">
                                <label for="descriptionmicrosoft2">Uzasadnienie microsoft</label>
                                <input name="descriptionmicrosoft2" type="text" id="descriptionmicrosoft2" class="form-control">
                                <label for="descriptiontask2">Uzasadnienie task</label>
                                <input name="descriptiontask2" type="text" id="descriptiontask2" class="form-control">
                                <label for="descriptioncity2">Uzasadnienie city</label>
                                <input name="descriptioncity2" type="text" id="descriptioncity2" class="form-control">

                                <label for="google2">Waga dla Google Cloud</label>
                                <input name="google2" type="number" max="5" min="0" id="google2" class="form-control">
                                <label for="amazon2">Waga dla Amazon AWS</label>
                                <input name="amazon2" type="number" max="5" min="0" id="amazon2" class="form-control">
                                <label for="microsoft2">Waga dla Microsoft Azure</label>
                                <input name="microsoft2" type="number" max="5" min="0" id="microsoft2" class="form-control">
                                <label for="krajowa2">Waga dla Chmury Krajowej</label>
                                <input name="krajowa2" type="number" max="5" min="0" id="krajowa2" class="form-control">
                                <label for="ibm2">Waga dla IBM Cloud</label>
                                <input name="ibm2" type="number" max="5" min="0" id="ibm2" class="form-control">
                                <label for="city2">Waga dla City Cloud</label>
                                <input name="city2" type="number" max="5" min="0" id="city2" class="form-control">
                                <label for="task2">Waga dla TaskCloud</label>
                                <input name="task2" type="number" max="5" min="0" id="task2" class="form-control">
                            </div>
                        </div>
                         <div class="col-lg-4">
                            <div class="form-group">
                                <label for="option3">Odpowiedź 3</label>
                                <input name="option3" type="text" id="option3" class="form-control">

                                <label for="descriptiongoogle3">Uzasadnienie google</label>
                                <input name="descriptiongoogle3" type="text" id="descriptiongoogle3" class="form-control">
                                <label for="descriptionamazon3">Uzasadnienie amazon</label>
                                <input name="descriptionamazon3" type="text" id="descriptionamazon3" class="form-control">
                                <label for="descriptionkrajowa3">Uzasadnienie krajowa</label>
                                <input name="descriptionkrajowa3" type="text" id="descriptionkrajowa3" class="form-control">
                                <label for="descriptionibm3">Uzasadnienie ibm</label>
                                <input name="descriptionibm3" type="text" id="descriptionibm3" class="form-control">
                                <label for="descriptionmicrosoft3">Uzasadnienie microsoft</label>
                                <input name="descriptionmicrosoft3" type="text" id="descriptionmicrosoft3" class="form-control">
                                <label for="descriptiontask3">Uzasadnienie task</label>
                                <input name="descriptiontask3" type="text" id="descriptiontask3" class="form-control">
                                <label for="descriptioncity3">Uzasadnienie city</label>
                                <input name="descriptioncity3" type="text" id="descriptioncity3" class="form-control">

                                <label for="google3">Waga dla Google Cloud</label>
                                <input name="google3" type="number" max="5" min="0" id="google3" class="form-control">
                                <label for="amazon3">Waga dla Amazon AWS</label>
                                <input name="amazon3" type="number" max="5" min="0" id="amazon3" class="form-control">
                                <label for="microsoft3">Waga dla Microsoft Azure</label>
                                <input name="microsoft3" type="number" max="5" min="0" id="microsoft3" class="form-control">
                                <label for="krajowa3">Waga dla Chmury Krajowej</label>
                                <input name="krajowa3" type="number" max="5" min="0" id="krajowa3" class="form-control">
                                <label for="ibm3">Waga dla IBM Cloud</label>
                                <input name="ibm3" type="number" max="5" min="0" id="ibm3" class="form-control">
                                <label for="city3">Waga dla City Cloud</label>
                                <input name="city3" type="number" max="5" min="0" id="city3" class="form-control">
                                <label for="task3">Waga dla TaskCloud</label>
                                <input name="task3" type="number" max="5" min="0" id="task3" class="form-control">
                            </div>
                        </div>
                         <div class="col-lg-4">
                            <div class="form-group">
                                <label for="option4">Odpowiedź 4</label>

                                <label for="descriptiongoogle4">Uzasadnienie google</label>
                                <input name="descriptiongoogle4" type="text" id="descriptiongoogle4" class="form-control">
                                <label for="descriptionamazon4">Uzasadnienie amazon</label>
                                <input name="descriptionamazon4" type="text" id="descriptionamazon4" class="form-control">
                                <label for="descriptionkrajowa4">Uzasadnienie krajowa</label>
                                <input name="descriptionkrajowa4" type="text" id="descriptionkrajowa4" class="form-control">
                                <label for="descriptionibm4">Uzasadnienie ibm</label>
                                <input name="descriptionibm4" type="text" id="descriptionibm4" class="form-control">
                                <label for="descriptionmicrosoft4">Uzasadnienie microsoft</label>
                                <input name="descriptionmicrosoft4" type="text" id="descriptionmicrosoft4" class="form-control">
                                <label for="descriptiontask4">Uzasadnienie task</label>
                                <input name="descriptiontask4" type="text" id="descriptiontask4" class="form-control">
                                <label for="descriptioncity4">Uzasadnienie city</label>
                                <input name="descriptioncity4" type="text" id="descriptioncity4" class="form-control">


                                <label for="google4">Waga dla Google Cloud</label>
                                <input name="google4" type="number" max="5" min="0" id="google4" class="form-control">
                                <label for="amazon4">Waga dla Amazon AWS</label>
                                <input name="amazon4" type="number" max="5" min="0" id="amazon4" class="form-control">
                                <label for="microsoft4">Waga dla Microsoft Azure</label>
                                <input name="microsoft4" type="number" max="5" min="0" id="microsoft4" class="form-control">
                                <label for="krajowa4">Waga dla Chmury Krajowej</label>
                                <input name="krajowa4" type="number" max="5" min="0" id="krajowa4" class="form-control">
                                <label for="ibm4">Waga dla IBM Cloud</label>
                                <input name="ibm4" type="number" max="5" min="0" id="ibm4" class="form-control">
                                <label for="city4">Waga dla City Cloud</label>
                                <input name="city4" type="number" max="5" min="0" id="city4" class="form-control">
                                <label for="task4">Waga dla TaskCloud</label>
                                <input name="task4" type="number" max="5" min="0" id="task4" class="form-control">
                            </div>
                        </div>
                         <div class="col-lg-4">
                            <div class="form-group">
                                <label for="option5">Odpowiedź 5</label>
                                <input name="option5" type="text" id="option5" class="form-control">

                                <label for="descriptiongoogle5">Uzasadnienie google</label>
                                <input name="descriptiongoogle5" type="text" id="descriptiongoogle5" class="form-control">
                                <label for="descriptionamazon5">Uzasadnienie amazon</label>
                                <input name="descriptionamazon5" type="text" id="descriptionamazon5" class="form-control">
                                <label for="descriptionkrajowa5">Uzasadnienie krajowa</label>
                                <input name="descriptionkrajowa5" type="text" id="descriptionkrajowa5" class="form-control">
                                <label for="descriptionibm5">Uzasadnienie ibm</label>
                                <input name="descriptionibm5" type="text" id="descriptionibm5" class="form-control">
                                <label for="descriptionmicrosoft5">Uzasadnienie microsoft</label>
                                <input name="descriptionmicrosoft5" type="text" id="descriptionmicrosoft5" class="form-control">
                                <label for="descriptiontask5">Uzasadnienie task</label>
                                <input name="descriptiontask5" type="text" id="descriptiontask5" class="form-control">
                                <label for="descriptioncity5">Uzasadnienie city</label>
                                <input name="descriptioncity5" type="text" id="descriptioncity5" class="form-control">

                                <label for="google5">Waga dla Google Cloud</label>
                                <input name="google5" type="number" max="5" min="0" id="google5" class="form-control">
                                <label for="amazon5">Waga dla Amazon AWS</label>
                                <input name="amazon5" type="number" max="5" min="0" id="amazon5" class="form-control">
                                <label for="microsoft5">Waga dla Microsoft Azure</label>
                                <input name="microsoft5" type="number" max="5" min="0" id="microsoft5" class="form-control">
                                <label for="krajowa5">Waga dla Chmury Krajowej</label>
                                <input name="krajowa5" type="number" max="5" min="0" id="krajowa5" class="form-control">
                                <label for="ibm5">Waga dla IBM Cloud</label>
                                <input name="ibm5" type="number" max="5" min="0" id="ibm5" class="form-control">
                                <label for="city5">Waga dla City Cloud</label>
                                <input name="city5" type="number" max="5" min="0" id="city5" class="form-control">
                                <label for="task5">Waga dla TaskCloud</label>
                                <input name="task5" type="number" max="5" min="0" id="task5" class="form-control">
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <hr />
                        <div class="col-lg-4">
                            <button type="submit" class="btn btn-info">Submit</button>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
{% endblock %}