{% extends "Rekomender/base.html" %}
{% block title %}Create Question{% endblock %}

{% block main %}
<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Create A New Poll</h3>
            </div>

            <form method="POST">
                {% csrf_token %}
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="question">Wpisz pytanie</label>
                                <textarea name="question" id="question" class="form-control" rows="3" ></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="option1">Odpowiedź 1</label>
                                <input name="option1" type="text" id="option1" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="option2">Odpowiedź 2</label>
                                <input name="option2" type="text" id="option2" class="form-control">
                            </div>
                        </div>
                         <div class="col-lg-4">
                            <div class="form-group">
                                <label for="option3">Odpowiedź 3</label>
                                <input name="option3" type="text" id="option3" class="form-control">
                            </div>
                        </div>
                         <div class="col-lg-4">
                            <div class="form-group">
                                <label for="option4">Odpowiedź 4</label>
                                <input name="option4" type="text" id="option4" class="form-control">
                            </div>
                        </div>
                         <div class="col-lg-4">
                            <div class="form-group">
                                <label for="option5">Odpowiedź 5</label>
                                <input name="option5" type="text" id="option5" class="form-control">
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <hr />
                        <div class="col-lg-4">
                            <button type="submit" class="btn btn-info">Submit</button>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
{% endblock %}