{% extends "Rekomender/base.html" %}
{% load static %}
{% block title %}Homepage{% endblock %}

{% block main %}
<div class="row"></div>
    <div >
        <div >
            <div >
                <h3 >Available Polls</h3>
            </div>
                <!-- <img class="tdStyle" src="{% static 'clouds.jpg'%}" alt="My image"> -->
            <ul >
                <div >
                    <h3 >Drogi użytkowniku witamy Cię na naszej stronie. Zależy nam na udoskonalaniu naszego rekomendera, w tym celu pod
                        każdym pytaniem umieściliśmy pole tekstowe na wprowadzenie wartości przydatności, ważności poszczególnego pytania.
                        Będziemy wdzięczni za pomoc przy rozwoju rekomdera. Dodatkowo na początku stworzyliśmy kilka pytań, które pomogą nam lepiej zrozumieć 
                    Twoje potrzeby </h3>
                </div>
                <button onclick="location.href = 'questionnaire/0/'">Zacznij Quiz</button>
                <!-- {%  for questionList in json_data %}
                <li >
                    <strong>{{ questionList.questiontext }}</strong>
                </li>
                    {%  for choice in questionList.Choices %}
                    <li >
                    <strong>{{ choice.text }}</strong>
                    </li>
                    {% endfor %}
                {% endfor %} -->
            </ul>

        </div>
    </div>
</div>
{% endblock %}