{% extends "Rekomender/base.html" %}
{% load static %}
{% block title %}Homepage{% endblock %}

{% block main %}
<div class="row align-items-center"></div>
    <div >
        <div class="row">
                <!-- <img class="tdStyle" src="{% static 'clouds.jpg'%}" alt="My image"> -->
            <ul >
                <div class="col align-self-center" >
                    <h2 >Drogi użytkowniku witamy Cię na naszej stronie. Zależy nam na udoskonalaniu naszego rekomendera, w tym celu pod
                        każdym pytaniem umieściliśmy pole tekstowe na wprowadzenie wartości przydatności poszczególnego pytania.
                        Będziemy wdzięczni za pomoc przy rozwoju rekomdera. Dodatkowo na początku stworzyliśmy kilka pytań, które pomogą nam lepiej zrozumieć 
                    Twoje potrzeby </h2>
                </div>
                <button class="btn btn-primary btn-lg" onclick="location.href = 'questionnaire/0/'">Zacznij Quiz</button>
                
                <!-- {%  for questionList in json_data %}
                <li >
                    <strong>{{ questionList.questiontext }}</strong>
                </li>
                    {%  for choice in questionList.Choices %}
                    <li >
                    <strong>{{ choice.text }}</strong>
                    </li>
                    {% endfor %}
                {% endfor %} -->
            </ul>

        </div>
    </div>
</div>
{% endblock %}