{% extends "Rekomender/base.html" %}

{% block title %}Homepage{% endblock %}

{% block main %}
<div class="row">
    <div >
        <div >
            <form method="POST" action="{% url 'questionnaire' question_id %}">
                {% csrf_token %}
                <ul >
                    {% for item in json_data %}
                    <li >
                        <strong>{{ item.questiontext }}</strong>
                    </li>
                        {%  for choice in item.Choices %}
                        <li >
                        <strong>{{ choice.text }}</strong>
                        </li>
                        {% endfor %}
                    {% endfor %}
                </ul>
                <button type="submit" id="previous" name="previous">previous</button>
                <button type="submit" id="next" name="next">next</button>

            </form>

        </div>
    </div>
</div>
{% endblock %}