{% extends "Rekomender/base.html" %}

{% block title %}Homepage{% endblock %}

{% block main %}
<div class="row">
    <div >
        <div >
            <div>
            <form method="POST" action="{% url 'questionnaire' question_id  %}">
                {% csrf_token %}
                    {% for item in json_data %}
                        <strong>{{ item.questiontext }}</strong><br>
                        {%  for choice in item.Choices %}
                            <label><input type="radio" name="question" id="{{ choice.text }}" value="{{ choice.text }}">{{ choice.text}}</label> &nbsp;<br>
                        {% endfor %}
                    {% endfor %}

                    <label for="score">Jak oceniasz przydatność tego pytania w skali 1-5?</label>
                <input id="score" type="text" name="score" maxlength="100" required>    
            </div>        
{#                <button type="submit" id="previous" name="previous">previous</button>#}
                <button type="pomin" id="pomin" name="pomin">pomiń</button>
                <button type="submit" id="next" name="next">next</button>

            </form>
        </div>
    </div>
</div>
{% endblock %}